 .seasonsWrapper{
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 
}

.seasonsTitle {
    background-color: var(--xanthous);
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-style: solid;
    border-color: white;
}

