.mainWrapper{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
}

.mainWrapper input {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
}
