.showNotesWrapper{
    display: flex;
    Flex-direction: column;
    Justify-content: flex-start;
    width: 400px;
    padding: 2px;
 
}

.showNotesWrapper textarea {
    width: 390px;
    height: 100px;
    background-color: whitesmoke;
    resize: none;
    
}

.showNotesWrapper p {
    text-align: left;
    font-weight: 600;
}

.saveNotesBttn {
    width:150px;
    padding: 5px;
    font-weight: 600;
    background-color: var(--xanthous);
    border-radius: 10px;
}