.showNotesWrapper{
    display: flex;
    Flex-direction: column;
    Justify-content: flex-start;
    width: 400px;
    padding: 2px;
 
}

.showNotesWrapper textarea {
    width: 390px;
    height: 100px;
    background-color: whitesmoke;
    resize: none;
    
}

.showNotesWrapper p {
    text-align: left;
    font-weight: 600;
}

.saveNotesBttn {
    width:150px;
    padding: 5px;
    font-weight: 600;
    background-color: var(--xanthous);
    border-radius: 10px;
}

.noteBttnsDiv {
    display: flex;
    align-items: stretch;
    gap: 10px;
    padding: 5px;
}

.editBttn {
    padding: 5px;
    font-weight: 600;
    background-color: var(--xanthous);
    border-radius: 10px;
}

.viewNotesBttn {
    padding: 5px;
    font-weight: 600;
    background-color: seagreen;
    border-radius: 10px;
    color: whitesmoke;
}

.closeNotesBttn {
    padding: 5px;
    font-weight: 600;
    background-color: gray;
    border-radius: 10px;
    color: whitesmoke;
}

.showNotes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: cadetblue;
    text-align: left;
    color: black;
    font-weight: 400;
}

.showNotes p{
    font-weight: 600;
    background-color: var(--sinopia);
    color: whitesmoke;
    padding: 5px;
    border-top-style: solid;
}